:root {
  --color-fg-light: #fff;
  --color-fg-dark: #333;
  --color-light: #efefef;
  --color-medium: #585858;
  --color-dark: #333;
  --transition-medium: 0.4s ease-in-out;
  --transition-fast: 0.2s ease-in-out;
}

body {
  color: var(--color-fg-dark);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 2000px;
}

header,
main > *,
footer {
  padding: 0 80px;
}

.section {
  display: grid;
  padding-top: 80px;
  padding-bottom: 80px;
}

.section--highlight {
  background-color: var(--color-light);
}

.section--center {
  justify-content: center;
}

/* TODO: is there a better way to center the heading in the porfolio section? */
.section--center > * {
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.form {
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: minmax(auto, 500px);
}

.form .form__input input,
.form .form__textarea textarea {
  border-radius: 2px;
  border: none;
  font-family: inherit;
  font-size: 1em;
  padding: 10px 15px;
  width: 100%;
}

.button {
  background-color: var(--color-dark);
  border-radius: 100px;
  border: 2px solid var(--color-dark);
  box-shadow: none;
  color: var(--color-fg-light);
  cursor: pointer;
  font-size: 0.75em;
  padding: 14px 35px;
  text-transform: uppercase;
  transition: var(--transition-fast);
  white-space: nowrap;
}

.button.button--outline {
  color: var(--color-fg-dark);
  background-color: transparent;
  border-color: var(--color-dark);
}

.button:hover,
.button:focus {
  background-color: var(--color-medium);
  border-color: var(--color-medium);
}

.button.button--outline:hover,
.button.button--outline:focus {
  background-color: var(--color-dark);
  color: var(--color-fg-light);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.nav.nav--primary {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 60px;
  grid-template-columns: auto repeat(2, minmax(0, 1fr));
  grid-template-rows: 80px;
}

.menu {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 30px;
  justify-self: start;
}

.menu:last-of-type {
  justify-self: end;
}

.menu .menu__item a {
  position: relative;
}

.menu .menu__item a::after,
.menu .menu__item a::after {
  background-color: transparent;
  bottom: -0.5em;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transition-property: background-color;
  transition: var(--transition-medium);
  width: 100%;
}

.menu .menu__item a:hover::after,
.menu .menu__item a:focus::after {
  background-color: var(--color-fg-dark);
}

.menu .menu__item.menu__item--large {
  font-size: 1.2em;
  font-weight: 500;
}

.menu .menu__item.menu__item--with-icon i {
  margin-left: 10px;
}

.blocks {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 30px;
}

.blocks .block {
  position: relative;
}

.blocks .block .block__media,
.blocks .block .block__action {
  transition-property: display, opacity;
  transition: var(--transition-medium);
}

.blocks .block .block__action {
  display: none;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.blocks .block:hover .block__media,
.blocks .block:focus .block__media {
  opacity: 0.1;
}

.blocks .block:hover .block__action,
.blocks .block:focus .block__action {
  display: block;
}

footer {
  align-items: center;
  display: grid;
  font-size: 0.9em;
  grid-template-rows: 50px;
  justify-content: center;
}
